[2014-10-29 15:57] hackel opened #1 "Typo in United Kingdom"
In crs.js line 252: It says "ddlesbrough" instead of Middlesbrough.

By the way, what is the source for this data, and does it get updated?

[2014-11-01 16:37] #1 closed, assigned to nobody

[2014-12-02 23:48] iapparatus opened #2 "Feature request: State/Province Abbreviations"
Thank you for the great script. One feature that would be very useful is to be able to optionally use state/province 2-letter abbreviations as values in the region selector.

[2015-02-07 23:31] dgilperez opened #3 "Internationalization"
Hi!

Thanks for stepping ahead to fill an obvious gap in the JS environment and building a fast and reliable country-region selector.

I'd need to be able to use the selector in an internationalized web app, and present the user with the country and region names according to their desired locale.

Are you planning to add this to country-region-selector? Any hints to do that myself?

Thanks!

[2015-02-09 01:16] benkeen commented on #3
Hi @dgilperez, great idea!

Technically this should be pretty straightforward - just move the strings to a separate file, then add a loader (or just create multiple pre-bundled versions of the code). The bigger challenge is the actual work of doing the translations. I don't suppose you'd be able to supply a translation? If so, I could update the code to support it.

[2015-02-09 02:00] dgilperez commented on #3
Hi @benkeen !

I ended up myself using a hand-made solution using https://github.com/hexorx/countries Rails gem. That library comes with a country selector helper, and also you can have the region information for a given country, with translations to several languages. In my solution I populate the region selector using an AJAX call on country change. I'd rather have used something speedier, like

[2015-02-09 02:00] #3 closed

[2015-02-24 18:19] benkeen commented on #2
Agreed, that would be very nice. Good suggestion.

[2015-04-04 15:44] brandonros opened #5 "Dynamic trigger"
How would one trigger the initialization function of country-region-selector on dynamically loaded content?

[2015-04-05 01:47] benkeen commented on #5
Good point, @brandonros! It's not currently available - I didn't anticipate that. I'll add this feature tonight. Right now the code is entirely namespaced; I'll need to expose a `window.crs` + wrap it in UMD format.

[2015-04-05 03:46] brandonros commented on #5
@benkeen, could you also make the region dropdown obey the data-value="2-char" attribute? Otherwise, I won't be able to use your library in my project.

[2015-04-05 03:46] brandonros commented on #5
I was able to hack the issue I had by naming the initiation function and calling it when the dynamic content was loaded.

[2015-04-05 04:34] benkeen commented on #5
I just released 0.1.4 to allow people to re-initialize country-region dropdowns in dynamically inserted page content.

Sorry, but unfortunately not. The reason is that not all regions from different countries can be reduced to 2 characters.

[2015-04-05 04:34] #5 closed

[2015-04-10 18:04] nozpheratu commented on #2
:+1:

[2015-04-10 18:06] benkeen commented on #2
Problem about this one is that I don't think all country regions are *able* to be reduced to a 2-char abbreviations. But perhaps just an "abbreviate" option that limits them to whatever abbreviation is appropriate, according to the country.

[2015-04-10 18:17] nozpheratu commented on #2
@benkeen Sounds like a sound idea to me, or perhaps 'alpha-2-code' or 'code' option would be a bit more explicit.

[2015-05-02 02:52] sventech opened #7 "United Kingdom regions corrupted"
I'm not sure what happened, but the list of regions of the UK/GB is corrupted. Several county names are cut off or mangled in some way. I traced all the way to the first commit, and they are still wrong. I found a few correct versions, but it looks like a find and replace messed it up. If you still have your original source, perhaps you can correct it. Otherwise I'll try to track down the [correct

[2015-05-02 10:17] benkeen commented on #7
Huh! Thanks, @sventech - I should have a little time later today. I'll take a look and patch them up.

[2015-05-02 18:20] benkeen commented on #7
I think perhaps this list may be best to use: http://en.wikipedia.org/wiki/List_of_counties_of_the_United_Kingdom

It's a list of all counties, not postcodes / districts.

[2015-05-02 20:13] sventech commented on #7
UK subdivisions are confusing. It seems like since the postal counties  have been deprecated in favor of the locality prefix in the postal code, it might be appropriate to just use England, Northern Ireland, Scotland and Wales, plus all the crown territories, etc. Zippopotam.us postal code API just returns country names as region info.

[2015-05-02 23:00] benkeen commented on #7
Yeah very confusing, agreed. But counties are definitely still used so I think they're what most people would want and expect to see when selecting the UK country (I lived there until I was 16). What I think I'll do is use the ones that haven't been dropped, erring on the side of caution.

Good call on the crown territories. I think that might lend itself to a separate country - UK Crown Territori

[2015-05-03 22:00] sventech commented on #7
Wow! Yesterday I read up on citizenship status of people in the [`UK Overseas Territories`](http://en.wikipedia.org/wiki/United_Kingdom_Overseas_Territories_Association) (the current official term) and I'm quite amazed at the complexity of their status, although nothing surprises me anymore, since I recently learned how 5 million American citizens (in various territories) with no criminal record c

[2015-05-03 22:04] sventech commented on #2
Do you have a plan for how to approach this? We could get a spreadsheet of region codes for each country perhaps... Or use the wiki.

[2015-05-03 23:55] benkeen commented on #7
Great - thanks for that link. Super handy. I'm just about to commit the latest version - give me a few mins.

[2015-05-04 00:03] benkeen commented on #7
Heya, all fixed. I just released 0.1.7 with the latest code. See demo:
http://benkeen.github.io/country-region-selector/

[2015-05-04 00:03] #7 closed

[2015-05-04 00:05] benkeen opened #8 "Allow grouping of regions"
After fixing the UK counties in another ticket, I found that I wanted to group the regions into `<optgroups>` for England, Scotland, Wales + Northern Ireland. This would be nice for other countries too, no doubt.

[2015-05-04 00:10] benkeen commented on #2
How about this? https://github.com/benkeen/country-region-selector/blob/master/source/data-with-abbrev.js#L47

It's super simple: right now the `|` separator is used to delimit the list of regions in a country; I just added a secondary `~` delimiter to delimit the region and the region abbreviation. That'll keep the data set as small as possible and work for any country.

If people are willing to

[2015-05-04 00:14] benkeen opened #9 "Update grunt to include header comment"
The minimized files should contain that info otherwise people won't know what version is running.

[2015-05-04 00:25] #9 closed

[2015-05-04 00:25] sventech commented on #2
Works great for me! I care most about US/AU/NZ/GB/BR/NO and a couple others, so I should be able to track down the data, then I'll fill in any others I can find easily. Hopefully @iapparatus will contribute some codes too and we can fill it out quickly. :+1:

[2015-05-04 00:25] benkeen commented on #2
Nice, thanks @sventech!

[2015-05-05 02:02] benkeen opened #11 "Add country whitelist option"
It would be helpful in some cases to only show a subset of the list of countries. Add a whitelist option to let users choose exactly which countries should be included in the country dropdown.

[2015-05-12 17:19] sventech commented on #8
Do you know how you want to do this data-structure wise? I'm thinking we could be adding the different region levels while looking up the info for region codes. I've already noticed it for New Zealand and Albania, for instance.

[2015-05-12 20:14] sventech commented on #3
Here is a JavaScript data source that is maintained:
https://github.com/mledoze/countries

Also, this free database:
https://github.com/openmundi/world.db

Perhaps a separate translations file could be generated for each language. Then one could include the crs file and translations file, perhaps specify the translation language in a `data-translation=` or something.

[2015-05-13 10:01] dgilperez commented on #3
Thanks a lot! Interesting references in deed!

[2015-05-18 16:11] sventech commented on #2
The regions we have for American Samoa are those from the tourist info, but the Wikipedia page lists these counties:
`Ituau~01|Ma'oputasi~02|Sa'Ole~03|Sua~04|Vaifanua~05|Alataua~06|Fofo~07|Leasina~08|Tualatai~09|Tualauta~10|Faleasao~11|Fitiuta~12|Ofu~13|Olosega~14|Ta'ū~15|Rose Atoll~21|Swains Island~22`

[2015-05-26 02:16] ptejeda1 opened #15 "Country, Region, City and zip code"
How can I add city and zip code...

So let say you choose United States > New York > Brooklyn 10000

[2015-05-26 03:21] benkeen commented on #15
Hi @ptejeda1, I'm afraid those will have to be done separately. This script only handles countries + regions. :)

[2015-06-06 13:41] anjdreas opened #16 "Bad region name for Sor-Trondelag in Norway"
I don't see what is wrong, but try to select Norway, then Sor-Trondelag.

It reads `Sor-` instead of `Sor-Trondelag` for whatever reason. The source code looks good and I can't spot the culprit, but something caps it. Any idea?

[2015-06-18 18:11] benkeen commented on #16
Sorry for the wait! I'll try to look at this tonight.

[2015-06-19 17:11] sQu1rr commented on #2
you can hook up data from my fork guys, i changed some core functionality (defaulting to abbr data and such) and the regions/countries are a bit different, more ISOish i guess, so i didn't want to create a pull request. I will be using my modified version for my own needs - so feel free to pull my changes if you need to.
https://github.com/sQu1rr/country-region-selector/blob/master/source/data-wit

[2015-06-20 01:39] benkeen commented on #16
Yeah, guess it's the '-' char. I retyped it in and re-generated the JS file and all seems well. Bizarre! I'll roll a new version now.

[2015-06-20 01:44] #16 closed

[2015-07-15 14:47] kodeine opened #17 "data-default-value in region"
data-default-value in region does not work.
Can you please help.

**Country Field**
[code]
this field is pre-populated but not the region.

**Region Field**
[code]

Thank you for this library.

[2015-07-15 15:01] benkeen commented on #17
Huh! I'll take a look at this tonight, thanks @kodeine.

[2015-07-15 19:00] kodeine commented on #17
Since i had customized the crs to support abbreviations for regions. I had to modify this little function to support default region values.

[code]

[2015-07-17 04:16] benkeen commented on #17
Hey @kodeine, sorry for the wait!

I looked into this and actually the problem lies in the `data-default-value` attribute. It should read: `data-default-value="District of Columbia"` and not `data-default-value="DC"`. Basically it just uses the value="X" attributes of the region select element to figure out which one should be defaulted to.

Hope this helps! :)

[2015-07-17 05:42] micbenner commented on #11
Just to be a pest, any chance of this happening anytime soon?

[2015-07-17 05:43] benkeen commented on #11
haha not at all. :) It would be super helpful, I agree. Let me see if I can look at this week. Should be pretty straightforward to implement, I think.

[2015-07-18 16:03] kodeine commented on #17
Aha, so when do you plan to update the library to support region abbreviations.

[2015-07-18 19:32] benkeen commented on #17
Unfortunately it's a fair bit of work tracking down and adding all region abbreviations for all countries. I've had a couple of contributors adding some regions, but there are still a lot more to do. So it could be some time!

[2015-08-04 12:24] amineboussema opened #19 "Preselecting the first region when changing country"
Hello,
Is it possible to Preselect the first Region in REgions List when changing country list ?

[2015-08-04 13:57] benkeen commented on #19
Good question... no, currently that feature's not available. But I can see it being useful. I'll put it down as a feature request & give it some thought.

[2015-08-17 03:05] #15 closed

[2015-08-17 03:05] #17 closed

[2015-08-27 09:39] topasi opened #20 "is there's a way to remove default option? I dont want to show a blank option."

[2015-08-28 02:45] benkeen commented on #20
Huh, you're right. I'm surprised that's not an option.

This is pretty straightforward to add so I'll try to roll a new version tonight.

[2015-08-28 05:06] benkeen commented on #20
I just release 0.1.9 that includes a new data-show-default-option="false" option.
https://github.com/benkeen/country-region-selector/releases/tag/0.1.9

[2015-08-28 14:47] benkeen commented on #20
I'll update the docs later today.

[2015-08-28 14:47] #20 closed

[2015-09-28 21:34] dylanjw opened #21 "links to minified js on readme are broken"

[2015-09-28 22:02] benkeen commented on #21
Thanks @dylanjw - I'll patch this up tonight.

[2015-09-29 14:46] benkeen commented on #21
Ah rats. Sorry, will get to this today.

[2015-09-29 15:11] benkeen commented on #21
Fixed.

[2015-09-29 15:11] #21 closed

[2015-10-15 02:02] wobblymusic commented on #2
This will be a great enhancement. Has code been written to support it? All I see is the data.

[2015-10-15 14:11] sventech commented on #2
I think Ben is planning to implement it when the data is finished. He designed the data format to be handled by a trivial mod to his code, from what I understand.

[2015-10-16 02:03] benkeen commented on #2
Thanks for everyone whose chimed in - and for the pull requests! :) Clearly there's interest in this feature, so I'll work on this shortly, even though all the data isn't fully available yet.

- I'll add a big proviso saying "currently only supports X,Y,Z countries" which we'll update as the data gets added.
- if the shortcode region doesn't exist for a country but the user requests it, output a c

[2015-10-16 03:35] wobblymusic commented on #2
That would be great. The second bullet, in particular, is how I imagined the feature would work.

[2015-10-19 00:04] benkeen commented on #2
Hi all, I've just added this. Couple of quick comments:
- You can see how it works in Example 8 here: http://benkeen.github.io/country-region-selector/ (also see examples 6 & 7 for the whitelist and blacklist options, respectively).
- I've now deleted the data-with-abbrev.js file - all future updates to add abbreviations can be made right to the data file itself: https://github.com/benkeen/country

[2015-10-19 00:36] sventech commented on #2
Norway's listing has the name and abbreviation twice. Probably my fault. I won't get to fix that right away but if nobody else does I will get to it.

[2015-10-19 12:39] wobblymusic commented on #2
This is working great, Thank you so much! One small change that should probably be made to the README file. If you are using the <code>data-value="shortcode"</code> option, then the data-default-value for region needs to be the abbreviation, not the full name. So the data-default-value definition should read something like this:

data-default-value - optional. The default selected value in the reg

[2015-10-20 18:19] benkeen commented on #2
Ah, good call! I'll make a note to update the doc tonight.

[2015-10-22 20:28] wobblymusic commented on #2
Since this new version with the region abbreviations was posted, I'm having trouble adding a customization I had working in the previous version. I'm using this in conjuction with another function that requires the 2 letter country code as a parameter. When the country under crs is changed, I want to populate the region fields, but I also want to fire this other script. In the older version of crs

[2015-10-22 23:42] wobblymusic commented on #2
To be more clear, if I change the code,

<code>$(this).on("change", function() {
        _populateRegionFields(countryElement, regionElement);
      });
</code>

to
<code>
      $(this).on("change", function() {
        _populateRegionFields(countryElement, regionElement);
		alert('Hello!');
      });
</code>

The list of regions does correctly change when the country changes, but the alert doesn'

[2015-10-23 02:27] benkeen commented on #2
Hey @wobblymusic! Hmm... I can't think of anything that would affect that change. But do you need to modify the script at all? Might be better to just add your own JS so it won't get overwritten with future upgrades.

e.g. just add some JS in your page like `$(".your-selector-here").on("change", function() { ... });`. That should work... I'm not canceling the event, so it should get called on the

[2015-10-23 02:33] wobblymusic commented on #2
Hi Ben. The problem is that I want to grab the two letter country abbreviation for my other function, but I want crs to give me the full country name in its selector. How can I grab the two-letter abbreviation outside of crs.js when it's not $(this).val() ?

[2015-10-24 01:05] benkeen commented on #2
Ah, I see... Drat. Yes, you're kind of stuck with hacking it in that case. Maybe the least unobtrusive hack would be to edit it to output an extra `data-shortcode` attribute on the options. Then you could do your own JS to just extract that value...

[code]

If you're really stuck, email me what you have and I can see if I can edit it this weekend. ben.keen@gmail.com

[2015-10-26 13:45] wobblymusic commented on #2
I'm not sure what happened -- probably a caching issue -- but my original hack is working now. I can access the country by using <code>_countries[this.selectedIndex-1][1]</code> within the <code>$(this).on("change", function()</code>. If you want to add the option of outputting an extra <code>data-shortcode</code> attribute, I won't say no, but I'm ok for now. Thanks for all the support!

[2015-10-26 17:51] benkeen commented on #2
Good to hear! Thanks for the follow-up. :)

[2015-10-26 17:51] #2 closed

[2015-11-12 23:08] benkeen commented on #11
Added in 0.2.0

[2015-11-12 23:08] #11 closed

[2016-01-07 16:55] yaohongkok opened #27 "Sporadic issue - jquery.crs.js not running 80% of the time in a large project"
I am making some modification on a large website which downloads a lot of JS file. This may have resulted in sporadic failure. To be explicit, the failure is the "select" tag with class "crs-country" is not populated at all. Digging into the issue, I found that the "_init" function is not being called every time.

I have found a workaround myself, namely to do the following:
    1. Comment out: Li

[2016-01-07 22:51] ellenhutchings opened #28 "NPM Package"
My project uses this through npm, but that's still on version 0.2.0 so I can't take advantage of the bug fixes for data that have come out in the that two builds. Could you update it?

[2016-01-08 02:50] benkeen commented on #28
Sure, np - will update now.

[2016-01-08 02:53] benkeen commented on #28
Done!

[2016-01-08 02:53] #28 closed

[2016-01-22 13:10] JoshZA opened #29 "South Africa province wrong"
In the country data
`` ["South Africa","ZA","Eastern Cape~EC|Free State~FS|Gauteng~GT|KwaZulu-Natal~NL|Limpopo~LP|Mpumalanga~MP|Northern~Cape~NC|North West~NW|Western Cape~WC"],
``

``Northern~Cape~NC`` should be ``Northern Cape~NC``

[2016-01-29 22:57] ianscarroll opened #30 "Presetting data attribute via jquery"
Hello.

Thanks for this fantastic control!

Is there a way I can set the selected country and/or region via jquery?

I have an order form with billing and shipping and would like to provide the user with a checkbox to copy billing as shipping details.

So far I have not been successful with getting any of this to work.

Example (hard-coded/watered down for ease of explanation):
$("#BillingCountry"

[2016-02-09 01:47] ellenhutchings commented on #30
If you want to copy values across, your best bet would be to use something like:
`$("#BillingCountry").val($("#ShippingCountry").val());`
assuming you have a similar name convention for shipping. You aren't updating the default, you're setting it to something new.

[2016-02-12 02:26] benkeen commented on #29
Thanks, @JoshZA. Will update now. It'll be in the next release.

[2016-02-12 02:26] #29 closed

[2016-02-12 02:29] benkeen opened #33 "Update grunt to allow custom build of subset of countries"
There's the option baked in to allow whitelisting/blacklisting of countries, to control exactly what appears in the dropdown. This is handy, but it still means downloading the whole file.

Instead, we could add a grunt command to create a custom build that only bundles the specified countries, e.g.

`grunt customBuild --countries=Canada,United States,Mexico`

That would result in a WAAAAY smaller

[2016-02-12 03:56] #33 closed

[2016-04-11 22:18] tremby opened #34 "Validating input"
Given that this is being used on the client side and then data sent to the server, once on the server side, can I use this module in Node to validate the input data? How would I go about doing that?

[2016-04-11 23:10] ellenhutchings commented on #34
Since the input is a drop down unless you allow users to input the data, then there is no way to know it's correctness without looking and checking as human. To check the accuracy using the data the options come from would only reinforce that the data comes from this list. which seems redundant. The list is supposed to use ISO3166-2 codes so you could maybe do something with that?

[2016-04-11 23:13] tremby commented on #34
I was more thinking along the lines of if the package were to provide a `validate` function which takes a country and region as selected from the dropdown it provides, and returns true or false depending whether those values make sense given the data in the package.

[2016-04-26 02:32] benkeen commented on #27
Hmm, strange! The second point shouldn't be necessary: those two are identical (See http://api.jquery.com/ready/).

In case you don't want to modify the source code, you can also just run the init() function whenever you want, like on DOM ready. See this section: https://github.com/benkeen/country-region-selector#plain-vanilla-js-example

That allows you to ensure the select fields are always init

[2016-04-26 03:18] benkeen commented on #2
N.B. on this issue. I thought I'd implement a React version of the country-region-selector script, so will be moving the data source to a separate location in a different format. See: https://github.com/benkeen/country-region-data

That way I'll be able to pull that data source into whatever scripts I need and manipulate it into an appropriate format for packaging.

[2016-04-26 21:49] sventech commented on #2
That seems like a good idea. It also makes it easier for other projects, such as Zippopotam.us to use the data (although I suppose there might be license issues, since they use the OpenData license).

[2016-04-26 22:47] futuresonus opened #35 "Istanbul not delimited"
In the list of "states" for Turkey, Istanbul is combined with the following list item, like so:
`IstanbKahramanmaras `

[2016-04-27 04:31] benkeen commented on #35
Thanks @futuresonus! I'll fix this in the next release.

[2016-04-29 04:33] benkeen commented on #35
Fixed here: https://github.com/benkeen/country-region-data/commit/e2f896d68e172d8d5407d3d41c1aa3c11659eec4

Will be in next release.

[2016-04-29 04:34] #35 closed

[2016-04-30 18:41] #27 closed

[2016-05-12 15:29] alexdruk opened #36 "Build error occur , when creating customBuild with countries that have comma in their names"
See example below:
![screen shot 2016-05-12 at 17 28 10](https://cloud.githubusercontent.com/assets/840087/15220216/f82a81c2-1866-11e6-8cc4-678593a146a4.png)

[2016-05-12 23:54] benkeen commented on #36
Thanks Alex! I'll take a look.

[2016-05-13 14:40] benkeen commented on #36
Sorry - evening filled up. Will get to this soon.

[2016-05-15 16:54] #36 closed

[2016-06-28 16:59] alexdruk opened #37 "data-default-value option seems not to work properly"
The following code still show first region from the list (Alsace), not default value:
[code]

[2016-07-02 21:52] RaySolomon commented on #19
That would be very useful

[2016-07-05 03:52] benkeen commented on #37
Good catch, thanks @alexdruk. I'll take a look.

[2016-07-05 04:09] #37 closed

[2016-07-05 04:09] benkeen commented on #37
This has been fixed in 0.3.4 - just released.

[2016-09-03 23:25] mukraskazungu opened #39 "Pre built javascript file Error"
WARNING in ./~/react-country-region-selector/dist/rcrs.js
Critical dependencies:
1:477-484 This seems to be a pre-built javascript file. Though this is possible, it's not recommended. Try to require the original source to get better results.
 @ ./~/react-country-region-selector/dist/rcrs.js 1:477-484

[2016-09-06 20:34] Alex-Mann commented on #30
I would also like to know how to do this - I am not able to get the region field to set when using Canada as the country and then running ```$("#state-province").val('Ontario');``` for instance

[2016-09-20 22:29] benkeen commented on #39
Ack, sorry @mukraskazungu, I forgot about this one - will look at tonight.

[2016-09-21 02:00] benkeen commented on #39
Hi @mukraskazungu, so I looked at this and it's actually working as intended. How are you including the rcrs.js file in your application? If you're using es6 modules, I'm curious if importing `src/rcrs.js` directly rather than the dist file fixes the problem for you.

[2016-09-21 17:19] hornetnz opened #40 "Incorrect region code for Hakkaio, JP"
My internationalization team alerted me to a region code issue:

Region code for "Hokkaido" is incorrect in Address. "Hokkaido" is one of the prefectures within Japan.
Currently, "Hokkaido" region code defaults to "04". However, the correct "Hokkaido" region code is "01". "04" is Miyagi.

[2016-09-22 04:16] benkeen commented on #40
Thanks @hornetnz, I'll fix this up.

[2016-09-23 05:14] benkeen commented on #40
I'll update it according to this wikipedia article: https://simple.wikipedia.org/wiki/Prefectures_of_Japan

[2016-09-23 21:38] benkeen commented on #40
Hi @hornetnz - this has been fixed in 0.3.5. Thank your i18n team for me for spotting this!

[2016-10-20 23:31] ellenhutchings commented on #40
According to https://www.iso.org/obp/ui/#iso:code:3166:JP, the codes matches the 3166-2 standard before. I don't know where that wikipedia page got its data from, but since it claims to be the ISO, I think the page is wrong.

[2016-10-21 03:37] benkeen commented on #40
Uh-oh. Wikipedia fail? Sometimes the iso specs are out of date though.

@hornetnz - you wouldn't mind touching base with your team and checking this?

[2016-10-21 03:42] benkeen commented on #40
Actually - what's in that iso.org link looks consistency with what @hornetnz said it should have been - and with what the original values were set to, as you noted @ellenhutchings.

Looks like the ISO link is correct and up to date. I'm going to revert it back to the original values (I'll check them all over when I do so).

Sorry for the fuss, Ellen, and thanks for catching it.

[2016-10-21 11:05] hornetnz commented on #40
Not sure I understand...was the fix in 0.3.5 incorrect?

[2016-10-21 14:06] benkeen commented on #40
Yeah, looks like that Wikipedia page I was using was incorrect. That ISO page linked above shows the correct data. You mentioned `Currently, "Hokkaido" region code defaults to "04". However, the correct "Hokkaido" region code is "01". "04" is Miyagi.` - looking at the original settings for Japan, that data looked correct.

No big deal, I'll fix this up tonight!

[2016-10-21 15:08] hornetnz commented on #40
Maybe Im looking at it wrong, but the wiki and ISO both show Hokkaido as 01...?

[2016-10-22 04:21] ellenhutchings commented on #40
I swear when I looked at them yesterday they were different. But today @hornetnz is right, Mea culpa.

[2016-10-24 12:31] hornetnz commented on #40
Ok good, I'm not crazy! :)

[2016-10-24 17:01] benkeen commented on #40
Well apparently I am! I'd also have sworn something was off. :) Thanks @hornetnz. Closing.

[2016-10-24 17:01] #40 closed

[2016-11-02 12:44] yabdab opened #41 "UK not recognized?"
If I whitelist UK it does not work. If I use GB instead, then it works.

Why will UK not work?

How can I make it work?

[2016-11-02 21:21] benkeen commented on #41
Hey @yabdab! No, I'm afraid `UK` won't work. The script needs unique identifiers for each country to know what country is being specified. Those country string are defined in the `countryShortCode` values in this file:
https://github.com/benkeen/country-region-data/blob/master/data.json#L17198-L17201

So GB is the one you need to use for the UK. That's the ISO-3166-2 value (which is what this scri

[2016-11-02 21:21] #41 closed

[2016-11-03 12:46] yabdab commented on #41
OK, thanks for the reply. A simple replacing "GB" with "UK" fixes the issue. Most Shipping APIs want UK and not GB

+--------------------------------------------+

Mike Yrabedra
Yabdab Inc.
[ a web engineering company ]

web: https://www.yabdab.com/ <http://yabdab.com/>
twitter: @mikeyrabedra / @yabdab
facebook: http://facebook.com/yabdab/ <http://facebook.com/yabdab/>

+--------------------------

[2016-11-29 15:40] yabdab opened #42 "Way to use short-code on US states only?"
I only want short-codes used when United States(US) is selected. Is this possible?

[2016-12-13 21:18] benkeen commented on #42
I'm afraid not @yabdab. The short/full values can only be changed for all countries. Sorry about that!

[2017-01-23 16:58] brentlblair opened #43 "Set default country but not the region"
Is there a way to set the default country, but not default region?  The default country populates correctly, but the region just shows a "-" as the only selection.
I have tried setting the region select options with no data-default-value tag and also tried the following tags in the region select:
data-default-value="-"
data-default-value=""
I am on the latest version 0.3.6, and I did not see this

[2017-01-23 18:26] #43 closed

[2017-02-19 16:25] agregator123 opened #44 "Add more cities"
How to add more countries ? I'd like to add more cities in Bulgaria.
I try to edit something but without success. Even if i edit the names, the changes not made.

[2017-02-21 01:13] #44 closed

[2017-02-27 02:24] #42 closed

[2017-03-14 03:43] #39 closed

[2017-03-15 17:08] mukraskazungu commented on #39
Thank you.I will check it

[2017-03-22 21:32] beyersito opened #45 "Select 2 compatibility"
Hi, Im trying to make this work with select2 jquery plugin, all options get loaded and I even can search, the problem is that the region field doesnt update when changing the option, could you give me some advice?  Thanks!

[2017-04-10 20:29] ksnyder opened #46 "Best way to convert country codes back to full name?"
Thanks for this very useful tool. We're storing only country codes and region codes (when available) but for UI purposes want to show users the full names.  I was hoping there might already exist a code -> fullName lookup object in the design.  I noticed the source data lives in a separate repo, but it appears to be built into this repo rather than an npm dependency.  Has anyone else solved this p

[2017-06-21 07:53] mcmxc opened #48 "Ukraine - Kyiv region duplicate"
State/Province list for the Ukraine has duplicate Kyiv options - Kiev and Kyїv. **Kyiv** will be the correct one. Thanks

[2017-06-23 04:40] benkeen commented on #48
Thanks, @mcmxc! I'll log this on the https://github.com/benkeen/country-region-data/ repo - we grab the data from there.

[2017-06-24 14:57] BGMcoder opened #49 "data-default-value not set"
I have an on change event attached to the country selector.
When the page loads, however, when, in my `$(document).ready`,  I use `$("#myselector").val()` the value is empty.

Now, I've set both: `data-default-option="United States"` and `data-default-value="United States"` but it seems like, although it sets the default option, it doesn't set the value.

Am I missing something?

[2017-07-05 03:23] gricey432 opened #50 "Example 6 & 7 show wrong regions for selected country"
Was just checking this library out and noticed an issue with the example, not sure if it's a bug in the library or just in the example.

http://benkeen.github.io/country-region-selector/ Example 6 shows the wrong regions for the listed countries.

![screenshot_2017-07-05_13-23-21](https://user-images.githubusercontent.com/1611345/27848008-303820de-6185-11e7-9dd1-3b686b9c2325.png)

[2017-07-06 03:23] benkeen commented on #50
Hmm, thanks @gricey432! Looks fishy. I'll check it out.

[2017-07-06 03:42] #48 closed

[2017-07-06 21:12] elysiumsoftware commented on #49
I'm having a similar issue but with the region dropdown.  I can't seem to get it to respect data-default-value.

[2017-07-07 02:22] gricey432 commented on #50
Looks like example 7 does the same thing

[2017-07-07 02:33] benkeen commented on #50
Yeah. I tinkered with it last night and it was working fine locally. Odd - I'll investigate this weekend. Thanks very much for letting me know, it may well be a bug.

[2017-07-10 05:44] ellenhutchings commented on #50
I just checked it out and this is definitely happening for me too. I noticed that I got _different_ incorrect regions when I switched from United States to Canada. I think the id or whatever field that's being checked to populate the regions to be populated is being messed up somehow.

[2017-07-18 14:17] kumarsatish876 opened #51 "Not working"
I have installed country-region-selector using  below command

In my HTML I used it like this
[code]
but Countries are not showing in dropdown

[2017-07-24 02:14] benkeen commented on #51
Hi @kumarsatish876 - did you include the library via a script tag in your page?

[2017-07-24 03:25] benkeen commented on #50
Sorry for the wait on this. I see the problem now. Multiple fields on the same page all share the same country source, so targeting index N on a field with whitelisted/blacklisted items won't always target the appropriate country. Let me see what I can do...

[2017-07-25 03:48] benkeen commented on #50
Almost there! I've made a patch, but I need to make it more performant. If I don't get it out tonight I should get a new version done by tomorrow night.

[2017-07-26 03:53] #50 closed

[2017-07-29 22:12] kumarsatish876 commented on #51
Hi @benkeen I was trying to use it in my angular project. I had included the script in angular-cli.json file as
[code]
Neither of them worked. I also tried jquery.crs.min.js file but did not work for me.

[2017-07-29 22:22] benkeen commented on #51
Ah okay. Hmm... my hunch is that probably Angular is loading them async - or after the page has rendered. Take a look at this section: https://github.com/benkeen/country-region-selector#working-with-dynamic-html

You could maybe try calling `crs.init()` after you know that both the script has loaded and your DOM is ready with the two fields added.

The other possibility is that Angular is controll

[2017-08-01 15:39] ahmadrusli opened #52 "Is it possible to 5th depth?"
dear developer..

i likely interested with this domain. but i want to ask before.

i want at registration form, a country field, a city field, and sub disctrict, and sub-sub district.
is it possible to do that?

i am in indonesia, i want people can choose indonesia country, then it shows all indonesia's province, jakarta for example. then after i choose jakarta it should show all city under it lik

[2017-08-21 14:41] tamaserdfalvi opened #53 "Angular 1.6 - select fields not updating model"
Hi!
I have a problem updating my project from angular 1.4.x to 1.x (which is 1.6.6 by now). CRS used to work OK, but it stopped updating the model of the fields, while the country selector perfectly updates the state field.
Select boxes works OK when populated manually, populating them with CRS makes this stop working.
<pre>
&lt;select
    name="countries"
    id="countries"
    class="crs-country

[2017-08-23 05:17] benkeen commented on #53
Hi @tamaserdfalvi, I'm afraid I'm not sure... so it's functioning fine, just not updating the model? You may want to ask this question on stack overflow, or somewhere where you can get some Angular input. I'm afraid I'm too much up on Angular. :( Sorry about that & good luck.

[2017-09-02 11:28] rolinger commented on #53
@tamaserdfalvi - did you get this working yet?  I too am trying to deploy this in an angularJS app.  Getting empty select boxes.

[2017-09-02 12:33] rolinger commented on #53
Found this, a country only angular version: https://www.npmjs.com/package/ng-country-select

[2017-09-03 11:42] tamaserdfalvi commented on #53
I just wrote my own component instead.
But @rolinger, if you get empty boxes : this is not really related to the problem I've mentioned. I think it's likely to be caused because you :
- don't know a window.crs.init() at all
- or you do it before your DOM is ready, try to do that with a bit of a timeout to see if it's working.

[2017-09-05 14:52] rolinger opened #54 "Separate the country/city codes from main script"
This is the most comprehensive I have seen.  Lets make it better though.

1.  I have written an angularJS components for this.  But in order for users to only get what they need it would be best to separate the the country/city code list from the main repo.  And then allow options for users to just grab updates to city/country codes as they happen.  If you can do this I will post all the necessary

[2017-09-14 15:36] SaraShoukryNA opened #55 "can't initialize select"
when appending country city selector and trying `crs.init()` I got

    at _populateCountryFields (crs.js:70)
    at Object._init [as init] (crs.js:45)
    at addExtraActions (client.js:118)
    at Object.success (scripts.js:325)
    at i (jquery.min.js:4)
    at Object.fireWith [as resolveWith] (jquery.min.js:4)
    at z (jquery.min.js:6)
    at XMLHttpRequest.<anonymous> (jquery.min.js:6)

``

[2017-09-18 06:42] ellenhutchings commented on #54
The country codes are already separated, and stored in a completely different repo, https://github.com/benkeen/country-region-data

[2017-09-25 21:15] Romanulus opened #56 "Feature Request: 'Other' Select Option"
Perhaps I'm missing it, but I don't see an option/way to force an 'other' option to lit up, say, a div or something else (with an input field) to allow for custom input.

It flies in the face of what this tool is trying to do, but it would be nice to have the option.

[2017-10-02 06:50] CreativeHouseDotOrg opened #57 "Solution : window.crs.populateRegionFields(countryElement, regionElement) **FOR "RELOADING" THE REGION SELECT**"
Hello

I added 1 line of code in your plugin today and i wanted to "commit" my change here:

**File:**
jquery.crs.js (0.4.0)

**Line 212:**
(Added)  populateRegionFields: _populateRegionFields

So I can call this specific row of code to update the Region Select after I'm setting the value via jQuery:

**EXAMPLE**
       window.crs.init();
        $.getJSON('//freegeoip.net/json/', function(result)

[2017-10-11 08:02] shyamchandranmec opened #58 "Bootstrap modal closes automatically"
I am using this inside a bootstrap modal. When I select a country the bootstrap modal closes automatically. I don't know whats happening. Please help

[2017-10-11 10:39] shyamchandranmec commented on #58
Issue is fixed after removing the .fade class from the modal. If I have the fade class the opacity becomes 0 after selecting the country. Not sure why this is happening

[2017-10-26 15:39] benkeen opened #59 "Viet Nam should be Vietnam"
All country names are in English & this is the English form of the country name.

[2017-10-26 15:41] benkeen commented on #59
Wrong repo. Closing.

[2017-10-26 15:41] #59 closed

[2017-10-30 13:57] brentlblair opened #61 "Missing region - Tokyo, Japan"
It seems that Tokyo, Japan is missing from the latest version.
|Tochigi~09|Tokushima~36|Saga~41|Totigi~09|

[2017-11-01 04:31] wobblymusic commented on #57
This was really helpful. Two comments:

1) You need to put a comma at the end of Line 211, i.e.
  return {
    init: _init,
    populateRegionFields: _populateRegionFields
  };

2) While this does populate the regions field with the correct drop down list, it does not make the data-default-value the selected option. For that, you'll need to add a line like
    $("#crs-region").val($("#crs-region")

[2017-11-01 15:26] wobblymusic commented on #57
Incidentally, there should be a way to write a method that does the same thing, but doesn't require any arguments. I'm not enough of a javascript wiz to figure it out. Thankfully, your simple change does the trick, albeit less elegantly.

[2017-11-08 01:46] benkeen commented on #61
Thanks @brentlblair  - it was using an old version of [country-region-data](https://github.com/benkeen/country-region-data). I'll release a new version shortly.

[2017-11-08 01:56] benkeen commented on #61
All fixed. This has been updated in 1.4.1. Thanks again!
http://benkeen.github.io/country-region-selector/

[2017-11-08 01:56] #61 closed

[2017-11-08 14:44] pjatx opened #62 "Feature Request: Define "preferred" countries that show up first in dropdown"
As a user living in a certain country, I might want that country to be at the top of the dropdown so I don't have to scroll the entire alphabetical list to choose it.

As an ecommerce store manager, this might also help abandoment rates.

Maybe you could specify a list of countries you'd want to show up first?

[2017-11-09 21:30] benkeen commented on #62
That's an absolutely terrific idea. I'd like that feature myself. I'll add this as soon as I can get a little time.

Thanks!

[2017-11-09 21:39] pjatx commented on #62
Awesome, thanks! Great library btw - was so easy to use and works great!

[2017-11-13 18:07] Webberjo opened #63 "Dropdowns do not update when values are set in backend"
If I set my country dropdown's value to "Canada" in the backend, the dropdown shows the selected country as "Canada", but the region dropdown still displays "-" as if a country hasn't been selected.

[2018-01-06 15:50] marvin-martian opened #64 "Feature: Disable first option in dropdowns."
As a feature: allow the first option in the a country/region select to have the disabled attribute set. This would force the user to make a country or region selection, and not allow the user to select the options "Select country" or "Select region".  See an example of a select with the first option disabled: http://jsfiddle.net/s5Xy2/5/ to get the behavioural idea.

[code]

[2018-01-24 19:12] brentlblair opened #65 "Blacklist Region - Puerto Rico"
Puerto Rico is listed as a country and a region under the US.  I'm not sure if this should be changed in the data file, or if some users might have a reason to use both variations.  We are using this for export purposes, so we only want the country of Puerto Rico listed, and not the state under the US.  Would it be possible to add the ability to blacklist a specific region in a country?  I have al

[2018-04-10 17:48] Heneman opened #66 "Enhancement request: Add ISO 3166 support"

[2018-04-11 04:29] ellenhutchings commented on #66
Try using `data-value="shortcode"` to get ISO 3166 compliant codes

[2018-04-11 13:41] Heneman commented on #66
@ellenhutchings ISO-3166 consists of three parts, `data-value="shortcode"` only addresses ISO 3166-1 alpha-2

[2018-05-21 17:05] kodintsev commented on #55
And I have a similar problem(

[2018-06-04 15:04] Webberjo opened #68 "Regions do not update properly"
If I rearrange the country select to have Canada and United States at the top of the list and then select Canada, the region select is populated with Afghanistan regions. This likely means the region select is populated based on selected country index instead of value.
[code]

[2018-07-08 17:43] benkeen opened #69 "Update lib for es6"
Boy, this has gotten out of date! Functionally it's just fine & works correctly, but there are tons of things that can now be improved. It's a bit painful editing the old es5 code.
- move to es6 + babel.
- import the data-country-region JSON via webpack import rather than the template thing we're using right now.
- UMD is still useful of course, but a plain es6 export would be nice. Especially wit

[2018-07-08 17:46] benkeen commented on #68
Hey @Webberjo, yeah - doing something like may well cause problems. I think that yes, the internal code relies on index (which is nice and fast). The next version will include `data-preferred="US,CA,MX"` and `data-preferred-delim="-----"` options to shift specific countries to the top. I'll try to get that going today.

[2018-07-09 00:48] benkeen opened #70 "Drop jQuery version?"
This is more a question for our users. Do you use the jquery version of this script or the plain vanilla version? I confess I haven't used jQuery in years now so I rather wonder if I'm simply doubling up my work for no reason.

[2018-07-09 01:02] benkeen commented on #68
Added in 0.5.0: https://github.com/benkeen/country-region-selector/releases/tag/0.5.0

Thanks!

[2018-07-09 01:02] #68 closed

[2018-07-09 01:02] benkeen commented on #62
Thanks again @pjatx - I just released 0.5.0 that includes this feature.
https://github.com/benkeen/country-region-selector/releases/tag/0.5.0

[2018-07-09 01:02] #62 closed

[2018-07-21 21:21] digimattress commented on #70
I use the jQuery version but it wouldn't be a big deal if it was dropped.

[2018-07-26 16:09] benkeen commented on #70
Thanks @digimattress.

[2018-08-08 03:56] ellenhutchings commented on #70
I use the jQuery version, I'm not sure how switching would affect things

[2018-09-11 18:17] papagunit opened #71 "data-preferred="" attribute only shows first country, doesn't match region"
I'm unable to get the data preferred attribute to work properly.

[Example here](https://cdn.rawgit.com/papagunit/49bdf3eaa72d34ef95368757ba661b63/raw/8bbac244789c1226fb869e7519807f775278716d/country%20region%20example.html)

Please advise. Thanks!

[2018-09-12 03:18] benkeen commented on #71
Hey @papagunit, sorry about that - I'll flag this as a bug, but not for the obvious reason!

Try this instead:

[code]

UK's short code is actually "GB" (Great Britain) - it seems to work fine once that's fixed. But the bug is the awful error handling...! I'll patch this in the next release.

Thanks @papagunit :)

[2018-09-12 14:07] papagunit commented on #71
Turns out the bug was between the chair and the keyboard.

Thanks!

[2018-10-01 18:01] brentlblair commented on #65
That is what I was trying to ask for.  I wanted the ability to blacklist regions in a country, so that I don't have to touch the data file.

[2018-10-17 04:58] papagunit commented on #63
Thank you! This is exactly what I needed. I have a separate prepopulation script that puts a value in the country field, but it doesn't trigger the region specific list, so the region stays uninitialized, and results in not it being populated with the other given value.

[2018-10-23 17:32] acstarkweather opened #72 "Hampshire (County of Southampton), UK"
Hampshire (County of Southampton) - This was changed in 1959. The correct name is just "Hampshire"

Can "(County of Southampton)" be removed?

[2018-11-05 18:11] jonkiparsky opened #73 "Dropdown displays states sorted by short-name rather than by name"
We have the following issue against our code:

<img width="504" alt="screen shot 2018-10-26 at 1 58 09 pm" src="https://user-images.githubusercontent.com/5283553/48017425-417ea780-e0fc-11e8-9b0a-469cb2d49a86.png">

This seems to come back to `country-region-selector`'s default ordering. @benkeen Would you be open to a pull request to order the drop-down by name rather than short-name? If so, someo

[2018-11-15 17:49] jonkiparsky commented on #73
Any interest in this question? Is this a live project?

[2018-11-15 18:05] benkeen commented on #73
Hey @jonkiparsky, sorry for not responding sooner - too many projects, too little time!

Good catch, yeah this is clearly a bug, sorry about that. A PR would be very welcome, but let me know if you don't have time and I can fix it up.

[2018-11-27 21:19] paralel-github opened #75 "data-default-value not set for region if only 1 country"
Hi! I'm trying to use this library with only 1 country (US to start with but will add other later) and when I try to set `data-default-value` for region with previous form value or default to 'California', region dropdown always shows 1st value 'Alabama'. Works well if I have 2 countries or more (ex. US and Canada).

Tried building a custom version with `grunt customBuild --countries="United State

[2018-11-27 22:24] paralel-github commented on #75
Quick workaround is to set `data-default-value` to the desired country, "hide" the country select (`display: none;`) and show its value in a dummy input field or `<p>` tag. But this still requires at least 2 countries in the custom build to work.

Would be nice to only update library custom build with new countries without touching each forms in the code...

[2018-11-28 05:52] benkeen commented on #75
Hey @paralel-github, thanks for the heads up. _Bug!_ I'll patch this in the next release - you shouldn't have to do a workaround for this.

[2018-11-28 05:52] #71 closed

[2018-11-28 05:54] benkeen commented on #73
Fixed in 0.5.1.

[2018-11-28 05:54] #73 closed

[2018-11-28 05:56] benkeen commented on #72
Haha, 1959, eh...? Maybe a little dated. I've created the following ticket to update the data set:
https://github.com/country-regions/country-region-data/issues/38

[2018-12-20 10:20] serdam55 opened #76 "localization support"
Hi there,

I really like your plugin, could you please add a localization to it? Happy holidays

[2019-01-15 16:00] hornetnz opened #77 "Shortcode detection?"
Our data can be imported from other sources, some of which use shortcodes and others dont. We were originally 'detecting' shortcodes if it was >= 2 characters, but then noticed other countries have 3-char codes...and then other regions full-names that are only 3 chars. Do you know the best method to detect if saved data is shortcode?

[2019-01-15 16:56] hornetnz commented on #77
Also, is there a way to read the country/region array to find a match on the saved value via JS if there aren't CRS form fields loaded on the page?

[2019-01-28 16:46] papagunit opened #78 "Loading on data-preferred-delim and not data-default-option values"
When a data-preferred-delim value is set, the list defaults to that upon initial load (for example, "-----"). When that value is null, it correctly defaults to data-default-option (i.e. "Select Country").

I have not seen this before and believe it is new to .51.

[2019-04-23 07:11] foria opened #79 "Spain regions are replaced by provinces"
For Spain there provinces not regions

[2019-04-24 04:45] benkeen commented on #79
Hi @foria, "region" in the name of this repo is pretty loose! It can mean province, county, state - or any other main, practical subdivision of a country.

These are the list of subdivisions for Spain - are they incorrect?
https://github.com/country-regions/country-region-data/blob/master/data.json#L14804-L15017

At a quick glance, it seems like they match the Spanish provinces, no?
https://en.wik

[2019-04-24 05:04] foria commented on #79
yeah those are the provinces.
you can find the regions here:
https://en.wikipedia.org/wiki/Autonomous_communities_of_Spain

thx for your work

[2019-06-17 11:01] Rc85 opened #80 "Region short value type returned numbers"
v1.4.3

To reproduce, set RegionCountry valueType to "short" and select Antigua and Barbuda as the country. Select a region and it will return a number, seemingly corresponding to the order/index of the region in the dropdown (eg. - '01', '02', etc.)

Country Anguilla is the same. I have not check the rest.

[2019-07-02 04:55] Rc85 commented on #80
Wrong npm package.

[2019-07-02 04:55] #80 closed

[2019-08-05 17:12] dvillalobosIM opened #81 "Error when select some countries e.g. Kazakhstan with the 'shortcode' enabled"
There are some countries that throws error when selected, the error thrown is "Cannot read property 'toLowerCase' of undefined"

[2019-11-15 04:02] chung1905 commented on #75
Hello @benkeen

I create a pull request to fix this issue, can you please check?

Thank you for the awesome projects.

[2019-12-27 20:35] umairkhan125 opened #84 "How to intiliaze crs for dynamic select ?"
How to intiliaze crs for dynamic select ?

[2019-12-28 03:27] benkeen commented on #84
You need to call `crs.init()` whenever your markup is ready, see: https://github.com/country-regions/country-region-selector#working-with-dynamic-html

[2020-02-29 16:06] #52 closed

[2020-04-09 19:04] Dev25-00 opened #85 "how to make a default value of select please"
how to change the default value of select country to selectionner un pays plz ?

[2020-04-10 07:32] ellenhutchings commented on #85
Set the `data-default-option` value

[2020-04-10 13:17] #85 closed

[2020-04-10 16:41] Mikimike31 opened #86 "Update regions for France"
Hi,

France regions are changed since January 2016.
Could you update you script ?
https://www.regions-et-departements.fr/regions-francaises

Thank you

[2020-05-03 04:41] ellenhutchings commented on #86
Data is updated from the https://github.com/country-regions/country-region-data/ project. If you look there, the current version does match with that list and the ISO1366-2 standard for French regions

[2020-05-04 10:06] Mikimike31 commented on #86
Oh ok thanks

[2020-06-05 11:31] prince272 opened #87 "How to load from the data from a url instead of putting it directly in the script file"

[2020-06-05 11:33] prince272 commented on #87
<select class="crs-country" data-region-id="one" data-src="/data.json"></select>

[2020-09-11 14:41] #87 closed

[2020-12-29 03:12] kgovardhan409 opened #88 "How to use two country-region-selector in one page"